<html>
	<head>
	    <script src="{{ asset('tarteaucitron/tarteaucitron.js') }}"></script>
	    <script type="text/javascript">
        tarteaucitron.init({
    	  "privacyUrl": "", /* Privacy policy url */

    	  "hashtag": "#tarteaucitron", /* Open the panel with this hashtag */
    	  "cookieName": "tarteaucitron", /* Cookie name */
    
    	  "orientation": "middle", /* Banner position (top - bottom) */
       
          "groupServices": false, /* Group services by category */
                           
    	  "showAlertSmall": false, /* Show the small banner on bottom right */
    	  "cookieslist": false, /* Show the cookie list */
                           
          "closePopup": false, /* Show a close X on the banner */

          "showIcon": true, /* Show cookie icon to manage cookies */
          //"iconSrc": "", /* Optionnal: URL or base64 encoded image */
          "iconPosition": "BottomRight", /* BottomRight, BottomLeft, TopRight and TopLeft */

    	  "adblocker": false, /* Show a Warning if an adblocker is detected */
                           
          "DenyAllCta" : true, /* Show the deny all button */
          "AcceptAllCta" : true, /* Show the accept all button when highPrivacy on */
          "highPrivacy": true, /* HIGHLY RECOMMANDED Disable auto consent */
                           
    	  "handleBrowserDNTRequest": true, /* If Do Not Track == 1, disallow all */

    	  "removeCredit": false, /* Remove credit link */
    	  "moreInfoLink": true, /* Show more info link */

          "useExternalCss": false, /* If false, the tarteaucitron.css file will be loaded */
          "useExternalJs": false, /* If false, the tarteaucitron.js file will be loaded */

    	  //"cookieDomain": ".my-multisite-domaine.fr", /* Shared cookie for multisite */
                          
          "readmoreLink": "", /* Change the default readmore link */

          "mandatory": true, /* Show a message about mandatory cookies */
        });
        </script>
		<meta charset="UTF-8">
		<meta name="description" content="Cloud Quizz est un site permettant à ses utilisateurs de tester leurs connaissances dans différents thèmes et catégories sous forme de quiz.">
		<link rel="icon" type="image/png" href="{{asset('images/icone/favicon.ico')}}">
		<title>{% block title %}Se connecter{% endblock %}</title>
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
		<link rel="preconnect" href="https://fonts.gstatic.com">
		<link href="https://fonts.googleapis.com/css2?family=Hind+Madurai&family=Mali&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.6.1/font/bootstrap-icons.css">
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
		{# Run `composer require symfony/webpack-encore-bundle`
						           and uncomment the following Encore helpers to start using Symfony UX #}
		{% block stylesheets %}
            {#{{ encore_entry_link_tags('app') }}#}
            <link rel="stylesheet" href="{{ asset("css/app.css") }}">
        {% endblock %}
		
		{% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
        {% endblock %}
	</head>

	<body>

		<header>
			<nav class="navbar navbar-expand navbar-dark bg-dark navbardlogin"></nav>
			<nav class="navbar navbar-expand-lg navbar-light bg-white">
				<div class="container-fluid">
					<a class="navbar-brand ms-5" href="{{path('home')}}">
						<h1 class="fw-bold"><span class="m">C</span><span class="j">L</span><span class="b">O</span><span class="r">U</span><span class="m">D</span> <span class="j">Q</span><span class="r">UI</span><span class="m">Z</span><span class="b">Z</span></h1>
					</a>
					<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse justify-content-around" id="navbarSupportedContent">
						<ul class="navbar-nav mb-2 mb-lg-0">
						{% if app.user %}
						        <li class="nav-item2">
						            <a class="nav-link text-dark" href="{{path('home')}}">Accueil</a>
					            </li>
								<li class="nav-item1">
									<a class="nav-link active text-dark" aria-current="page" href="{{path('moncompte')}}">Mon compte</a>
								</li>
								<li class="nav-item2">
									<a class="nav-link text-dark" href="{{path('aproposdenous')}}">À propos de nous</a>
								</li>
								<li class="nav-item2">
									<a class="nav-link text-dark" href="{{path('offrepremium')}}">Offre premium</a>
								</li>
								<li class="nav-item2">
									<a class="nav-link text-dark" href="{{path('boutique')}}">Boutique</a>
								</li>
								<li class="nav-item2">
						            <a class="nav-link text-dark" href="{{path('contact')}}">Contactez nous</a>
					            </li>
							</ul>{#
							<form class="d-flex">
								<input class="form-control" type="search" placeholder="Rechercher..." aria-label="Search">
								<button class="btn btn-outline-success" type="submit">
									<i class="fa fa-search"></i>
								</button>#}
							</form>
						{% else %}
						    <li class="nav-item2">
						        <a class="nav-link text-dark" href="{{path('home')}}">Accueil</a>
					        </li>
							<li class="nav-item1">
								<a class="nav-link active text-dark" aria-current="page" href="{{path('register')}}">Créer un compte</a>
							</li>
							<li class="nav-item2">
								<a class="nav-link text-dark" href="{{path('aproposdenous')}}">À propos de nous</a>
							</li>
							<li class="nav-item2">
								<a class="nav-link text-dark" href="{{path('offrepremium')}}">Offre premium</a>
							</li>
							<li class="nav-item2">
						        <a class="nav-link text-dark" href="{{path('contact')}}">Contactez nous</a>
					        </li>
						</ul>{#
						<form class="d-flex">
							<input class="form-control" type="search" placeholder="Rechercher..." aria-label="Search">
							<button class="btn btn-outline-success" type="submit">
								<i class="fa fa-search"></i>
							</button>
						</form>#}
					    {% endif %}
				    </div>
			    </div>
		    </nav>
			{% if is_granted('ROLE_MODERATOR') %}
                <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #ffa806;">
                    <div class="container-fluid">
                        {% if is_granted('ROLE_ADMIN') %}
                        <a class="navbar-brand text-danger" href="#">⚠️ Menu Administrateur ⚠️</a>
                        {% else %}
                        <a class="navbar-brand text-danger" href="#">⚠️ Menu Moderateur ⚠️</a>
                        {% endif %}
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                            <div class="navbar-nav">
                                {% if is_granted('ROLE_ADMIN') %}
                                <a class="nav-link" href="{{path('user_index')}}">⚙️ Utilisateur</a>
                                {% endif %}
						        <a class="nav-link" href="{{path('commentaires_index')}}">⚙️ Commentaire</a>
                                {% if is_granted('ROLE_ADMIN') %}
                                <a class="nav-link" href="{{path('produit_boutique_index')}}">⚙️ Produit boutique</a>
						        <a class="nav-link" href="{{path('theme_quizz_index')}}">⚙️ Theme Quizz</a>
						        <a class="nav-link" href="{{path('jeux_quizz_index')}}">⚙️ Jeux Quizz</a>
						        <a class="nav-link" href="{{path('question_quizz_index')}}">⚙️ Question quizz</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </nav>
            {% endif %}
	    </header>

        <main>
            <div class="container mt-5">
	            <div class="row justify-content-center rowconnexion">
		            <div class="col-lg-9 col-md-9 col-sm-9">
			            <div class="card card-connexion">
				            <div class="card-header header-connexion">
					            <h4 class="modal-title text-white text-center">Se connecter</h4>
				            </div>
				            <div class="card-body body-connexion">
					            <form class="form-horizontal was-validated" method="post">
						            {% if error %}
							            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
						            {% endif %}
						            <fieldset>
							            <div class="group">
								            <label for="email" class="form-label">Adresse Email</label>
								            <input type="email" value="{{ last_username }}" class="form-control is-valid" id="email" aria-describedby="emailFeedback" name="email" autocomplete="email" required autofocus>
								            <div id="emailFeedback" class="invalid-feedback">
									            Veuillez inscrire votre Email ci-dessus.
								            </div>
							            </div>
							            <div class="group">
								            <label for="password" class="form-label">Mot de passe</label>
								            <input type="password" class="form-control is-valid password" id="password" aria-describedby="passwordFeedback" minlength="8" name="password" required>
								            <div id="passwordFeedback" class="invalid-feedback">
									            Veuillez inscrire votre mot de passe ci-dessus.
								            </div>
								            <input type="checkbox" id="_remember_me" name="_remember_me">
								            <label for="_remember_me">Se souvenir de moi</label>
							            </div><br>
							            <a href="{{path('app_forgot_password_request')}}">J'ai oublié mon mot de passe</a>
							            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
							            <div class="control-group mt-3">
								            <label class="control-label" for="signin"></label>
								            <div class="controls">
									            <button id="signin" name="signin" class="btn btn-primary btn-block">Se connecter</button>
								            </div>
							            </div>{#
							            <div class="row">
								            <div class="dropdown-divider mt-4 col-md-4"></div>
								            <small class="or text-center mt-3 col-md-4">Se connecter avec</small>
								            <div class="dropdown-divider mt-4 col-md-4"></div>
							            </div>
							            <div class="row">
								            <div class="mt-4 col-md-4 facebook text-center">
									            <button type="submit" class="boutonfacebook">
										            <i class="bi bi-facebook fs-4"></i>
									            </button>
								            </div>
								            <div class="mt-4 col-md-4 google text-center">
									            <button type="submit" class="boutongoogle">
										            <i class="bi bi-google fs-4"></i>
									            </button>
								            </div>
								            <div class="mt-4 col-md-4 twitter text-center">
									            <button type="submit" class="boutontwitter">
										            <i class="bi bi-twitter fs-4"></i>
									            </button>
								            </div>
							            </div>#}
						            </fieldset>
					            </form>
				            </div>
			            </div>
		            </div>
	            </div>
            </div>
        </main>

<footer>
	<nav class="navbar navbar-expand navbar-dark bg-dark">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="navbarText">
                <span class="navbar-text">
                    Copyright &copy; Cloud Quizz 2021
                </span>
            </div>
            <div class="collapse navbar-collapse justify-content-between">
                <ul class="navbar-nav mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="{{path('CGU')}}">Conditions générales d'utilisation</a>
                    </li>
                </ul>
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="{{path('conf')}}">Politique de confidentialité</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</footer>

    </body>
</html>
