{% extends "base.html.twig" %}

{% block title %}Boutique{% endblock %}

{% block body %}
		<main>
        <div class="container mt-5">
            <div class="mt-3 pt-2">
                <h3 class="text-center">Ajoutez de nouveaux packs et enrichissez votre expérience
                    <span class="m">C</span><span class="j">L</span><span class="b">O</span><span class="r">U</span><span class="m">D</span> <span class="j">Q</span><span class="r">UI</span><span class="m">Z</span><span class="b">Z </span>!
                </h3>
            </div>
            <div class="row mt-5 g-4 g-lg-5">
                {% for produit_boutique in produit_boutiques %}
                    <div class="col-12 col-md-6 col-lg-3">
                        <div class="card">
                            <img src="{{ asset(produit_boutique.image) }}" class="card-img-top" alt="{{ produit_boutique.imageAlt }}">
                            <div class="card-body">
                                <h5 class="card-title">{{ produit_boutique.titre }}</h5>
                                <p class="card-text">{{ produit_boutique.resume }}</p><br>
                                <p class="card-text">{{ produit_boutique.prix }}€</p>
                                {% if app.user %}
                                <a href="{{ path('add_article_panier', {'id':produit_boutique.id}) }}" class="btn btn-primary d-flex justify-content-center">Précommander</a>
                                {% else %}
                                <a class="btn btn-primary d-flex justify-content-center">Veuillez vous connecter</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </main>
{% endblock %}
