{% extends 'base.html.twig' %}

{% block title %}Liste JeuxQuizz{% endblock %}

{% block stylesheets %}
            {#{{ encore_entry_link_tags('app') }}#}
            <link rel="stylesheet" href="{{ asset("css/nuage.css") }}">
{% endblock %}

{% block body %}
    <h1 class="my-5 text-center">Liste JeuxQuizz</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Jeux</th>
                <th>Lien</th>
                <th>Lien forum</th>
                <th>Image</th>
                <th>ImageAlt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for jeux_quizz in jeux_quizzs %}
            <tr>
                <td>{{ jeux_quizz.id }}</td>
                <td>{{ jeux_quizz.Jeux }}</td>
                <td>{{ jeux_quizz.lien }}</td>
                <td>{{ jeux_quizz.lienForum }}</td>
                <td>{{ jeux_quizz.image }}</td>
                <td>{{ jeux_quizz.ImageAlt }}</td>
                <td>
                    <a href="{{ path('jeux_quizz_show', {'id': jeux_quizz.id}) }}" class="btn btn-primary">Consulter</a>
                    <a href="{{ path('jeux_quizz_edit', {'id': jeux_quizz.id}) }}" class="btn btn-warning mt-3">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Aucun enregistrement trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('jeux_quizz_new') }}" class="btn btn-primary">Créer nouveau</a>
{% endblock %}
