{% extends "base.html.twig" %}

{% block title %}Quizz: {{ jeuxQuizz.themeQuizz.titre }} {{ jeuxQuizz.Jeux }}{% endblock %}

{% block body %}
	<div class="container mt-5">
		<div id="quiz">
			<h1 class="h1-jeux text-center">
				Quizz: {{ jeuxQuizz.themeQuizz.titre }} {{ jeuxQuizz.Jeux }}
			</h1>

			<div class="row mt-5">
                <div class="col-12">

                    <h2 id="question" class="fw-bold text-center"></h2>

			        <h3 id="score" class="h3-jeux text-center"></h3>

			        <div class="choices choices-jeux">
				        <button id="guess0" class="btn button-jeux">
					        <p id="choice0" class="p-jeux"></p>
				        </button>

				        <button id="guess1" class="btn button-jeux">
					        <p id="choice1" class="p-jeux"></p>
				        </button>

				        <button id="guess2" class="btn button-jeux">
					        <p id="choice2" class="p-jeux"></p>
				        </button>

				        <button id="guess3" class="btn button-jeux">
					        <p id="choice3" class="p-jeux"></p>
				        </button>
			        </div>

			        <p id="progress" class="fw-bold text-center"></p>

                </div>
            </div>
			<div class="row-jeuxquizz">
				<a href="{{ path('jeux_quizz_page', {id: jeuxQuizz.id}) }}" class="btn btn-jeuxquizz btn-warning">Recommencer</a>
				<a href="{{ path('theme_quizz_page', {id: jeuxQuizz.themeQuizz.id}) }}" class="btn btn-jeuxquizz btn-danger">Retour aux quizz</a>
		    </div>
		</div>
	</div>
{% endblock %}

{% block javascripts %}
    {#{{ encore_entry_script_tags('app') }}#}
	<script src="{{ asset('javascript/quizz.js') }}" type="text/javascript"></script>
	<script>
	    const display = {
            elementShown: function (id, text) {
                let element = document.getElementById(id);
                element.innerHTML = text;
            },
            endQuiz: function () {
                endQuizHTML = `
				<div class="container mt-5">
                    <h1 class="h1-jeux text-center">Quizz: {{ jeuxQuizz.themeQuizz.titre }} {{ jeuxQuizz.Jeux }} terminé !</h1>
                    <h3 class="h3-jeux text-center mt-5"> Votre score est de : ${quiz.score} / ${quiz.totalLength}</h3>
                    <div class="row-jeuxquizz mt-5">
				        <a href="{{ path('jeux_quizz_page', {id: jeuxQuizz.id}) }}" class="btn btn-jeuxquizz btn-warning">Recommencer</a>
				        <a href="{{ path('theme_quizz_page', {id: themeQuizz.id}) }}" class="btn btn-jeuxquizz btn-danger">Retour aux quizz</a>
		            </div>
                </div>`;
                this.elementShown("quiz", endQuizHTML);
            },
            question: function () {
                this.elementShown("question", quiz.getCurrentQuestion().text);
            },
            choices: function () {
                let choices = quiz.getCurrentQuestion().choices;

                guessHandler = (id, guess) => {
            document.getElementById(id).onclick = function () {
                        quiz.guess(guess, () => {
                            quizApp();
                        });
                    }
                }
               // affichage choix + prise en compte du choix
                for (let i = 0; i < choices.length; i++) {
                    this.elementShown("choice" + i, choices[i]);
                    guessHandler("guess" + i, choices[i]);
                }
            },
            progress: function () {
                let currentQuestionNumber = quiz.currentQuestionIndex + 1;
                this.elementShown("progress", "Question " + currentQuestionNumber + " sur " + quiz.totalLength);
            },
        };

        // Game logic
        quizApp = () => {
            if (quiz.hasEnded()) {
                display.endQuiz();
            } else {
                display.question();
                display.choices();
                display.progress();
            }
        }

	    // Create Quiz
        let quiz = new Quiz();
        quiz.init( {{ jeuxQuizz.id }}, () => {
            quizApp();
        });
	</script>	
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
{% endblock %}
